SECRET_KEY=django-insecure-w=bw)8f-4-hwd-0t717t2b4x(=ldf(58ug-h2nlk#t_u04ea4$
DEBUG=True
ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_DB=crmdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PG_HOST=localhost
PG_PORT=5432